@(users:scala.collection.mutable.ListBuffer[User])(implicit flash:Flash, request: play.api.mvc.Request[Any])

@mainTemplate("User Maintenance.") {

	<h1>
		Edit / Delete an Administrator Login
	</h1>
	<table class="table">
		<tr>
			<th>Username</th>
			<th colspan="2">Options</th>
		</tr>
		@for(user <- users){
		<tr>
			<td>
				@user.name
			</td>
			<td class="optionCell">
				<a href="adminUserModify/@user.name">
					edit
				</a>
			</td>
			<td class="optionCell">
				<a href="javascript:deleteUser('42');">
					delete
				</a>
			</td>
		</tr>        
		}
	</table>
}
