@()(implicit flash:Flash, request: play.api.mvc.Request[Any])

@mainTemplate("User Maintenance.") {

	<p>
		Please choose an option.
	</p>
	<ul>
		<li>
			<a href="@routes.Users.newAdmin()">
				Create an Administrator login.
			</a>
		</li>
		<li>
			<a href="@routes.Users.adminUsers()">
				Edit or Delete an Administrator login
			</a>
		</li>
		<li>
			<a href="loginsPending.php">
				Customer Logins Pending
			</a>
		</li>
		<li>
			<a href="customerLoginNew.php">
				New Customer Login
			</a>
		</li>
		<li>
			<a href="customerLoginEdit.php">
				Edit / Delete a Customer Login
			</a>
		</li>
	    <li>
			<a href="passwordSettings.php">
	        	Maintain Password Settings
	    	</a>
		</li>
	</ul>
        
}
