@()(implicit flash:Flash, request: play.api.mvc.Request[Any])

@mainTemplate("Please log in to PBS") {

    @if(flash.get("errorMessage")) {
    	<div class="errorMessage">
    		@flash.get("errorMessage")
    	</div>	
    }

	<form method="post" action="processLogin">
		<table class="formTable">
			<tr>
				<td>
					Username:
				</td>
				<td>
					<input type="text" name="username" autocomplete="off" 
						@if(flash.get("username")){
							value="@flash.get("username")"
						} 
						/>
				</td>
			</tr>
			<tr>
				<td>
					Password:
				</td>
				<td>
					<input type="password" name="password"/>
				</td>
			</tr>
		</table>
		<input type="submit"/>
	</form>

}
