@(pageTitle:String)(content: Html)(implicit flash:Flash, request: play.api.mvc.Request[Any])

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">		
		<title>webdex Web Indexer</title>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	</head>
	<body style="background:#fff" class="body">
		<div style="padding:5px">
		</div>
		<div class="container-fluid">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><i>webdex Web Indexer</i></a>
			    </div>
			
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
					
					
			        <li><a href="@routes.Application.index()">Home</a></li>
					@Roles.protect("admin", request){
						<li><a href="@routes.Users.index()">Users</a></li>
					}
		  			<li><a href="@routes.Login.form()">Login</a></li>
				
					@Roles.protect("customer", request){
						<li><a href="@routes.About.index()">About</a></li>
					}
				
					@if(request.session.get("username")){
						<li><a href="@routes.Login.logout()">Log Out</a></li>
					}
					<li><a href="@routes.Search.index()">Search</a></li>
					@Roles.protect("admin", request){
						<li><a href="@routes.Indexing.form()">Index</a></li>
					}
			      </ul>
			      
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			
			<div id="pageTemplate" class="hero-unit">
				<h1 id="pageTitle">@pageTitle</h1>
				@content
			</div>
		</div>
	</body>
</html>

