@()(implicit flash:Flash, request: play.api.mvc.Request[Any])

@mainTemplate("New Admin User") {

    @if(flash.get("errorMessage")) {
    	<div class="errorMessage">
    		<div style="font-weight:bold">Error:</div>
    		@for(s<-models.Errors.show(flash.get("errorMessage"))){
    			<div>@s</div>
    		}
    	</div>	
    }

	<form method="post" action="processNewAdmin">
		<table class="formTable">
			<tr>
				<td>
					Username:
				</td>
				<td>
					<input type="text" name="username" autocomplete="off" 
						@if(flash.get("username")){
							value="@flash.get("username")"
						} 
						/>
				</td>
			</tr>
			<tr>
				<td>
					Password:
				</td>
				<td>
					<input type="password" name="password"/>
				</td>
			</tr>
			<tr>
				<td>
					Confirm Password:
				</td>
				<td>
					<input type="password" name="password2"/>
				</td>
			</tr>
		</table>
		<input type="submit"/>
	</form>

}
